.nav__mobile {
    position: fixed;
    top: 0;
    z-index: 99999;
    display: none;
}

.nav__mobile__button__icon {
    background-color: black;
    color: var(--second-color);
    font-size: 30px;
    border-radius: 10%;
    opacity: 0.7;
    transition: 0.4s;
}

.nav__mobile__button__icon:hover {
    opacity: 1;
    background-color: var(--main-color);
}

.nav__mobile__button__open {
    position: fixed;
    left: 3%;
    top: 5%;
    display: block;
    padding: 0 1%;
    z-index: 1014;
    cursor: pointer;
}

.nav__mobile__button__close {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.nav__mobile__container {
    width: 300px;
    height: 100%;
    position: fixed;
    left: -300px;
    transition: 0.4s;
    background-color: #F8F8F8;
}

#nav__mobile__button__checkbox {
    display: none;
}

#nav__mobile__button__checkbox:checked~nav {
    left: 0;
}

#nav__mobile__button__checkbox:checked~#nav__mobile__button__open {
    display: none;
}

.nav__mobile__item {
    text-align: right;
    overflow: auto;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav__mobile__item__menu {
    display: flex;
    clear: both;
    text-align: center;
    padding: 5%;
    color: black;
    border-bottom: 1px solid #80FE00;
    margin-top: 1%;
    transition: 0.4s;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__mobile__item__menu:hover {
    color: black;
    text-decoration: none;
    background-color: #80FE00;
}

.nav__mobile__item__menu i {
    line-height: 22px;
    margin-left: 6%;
    color: #72b132;
}
.nav__mobile__item__menu--sub a{
    color: black;
    display: block;
    transition: 0.4s;
    text-transform: capitalize;
}
.nav__mobile__item__menu--sub li{
    color: black;
    text-align: left;
}
.nav__mobile__item__menu--sub a:hover{
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: left;
}
.nav__mobile__logo {
    background-color: white;
    position: absolute;
    bottom: 0;
    padding: 5%;
}

.nav__mobile__logo img {
    width: 100%;
}
.nav__mobile__item--logo{
    display: block;
    padding-bottom: 2%;
}
.nav__mobile__item--logo img{
    width: 100%;
    display: block;
    margin: auto;
}
.nav__mobile__searchbar{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 5%;
}
.nav__mobile__item__menu span{
    margin-left: 6%;
    font-weight: bold;
}
.header__topbar--mobilecall{
    display: none;
    line-height: 30px;
    color: white;
    text-align: center;
    font-size: 1.4em;
    padding-bottom: 1%;
}
.header__topbar--mobilecall span{
    display: block;
    width: 80%;
    margin-left: 20%;
}
.header__topbar--mobilecall a{
    color: white;
    margin-left: 3%;
}
.nav__mobile__item__menu--sub{
    padding-top: 5%;
    text-align: left;
    padding-left: 50px;
    color: red;
}